APP_NAME="Tume Huru ya Taifa ya Uchaguzi Tanzania"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=sqlite
DB_DATABASE=database/election.sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
